@{
    var userType = "operador";
    ViewData["userType"] = userType;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] OperadoresTEC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LayoutTemplateWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="~/css/containers.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true"/>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-colorMainTrans">
            <div class="container-fluid align-middle">
                <div class="align-middle">
                    <a class="navbar-brand header-title-font" asp-area="" asp-page="/Index">
                        @* //This could be the link to the inicial app page *@
                        <i class="bi bi-mortarboard-fill"></i>
                        OperadoresTEC
                    </a>
                </div>
               
                <div class="collapse navbar-collapse header" id="navbarSupportedContent">
                    @{
                        var option1IsActive = Context.Request.Path.Value.Contains("/Option1");
                        var option2IsActive = Context.Request.Path.Value.Contains("/Option2");
                        var option3IsActive = Context.Request.Path.Value.Contains("/Option3");
                    }

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 header-option-font">
                        @if(userType == "operador")
                        {
                            <li class="nav-item">
                                <a class="nav-link @(option2IsActive ? "active" : "")" asp-area="" asp-page="/Instalaciones">Instalaciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(option3IsActive ? "active" : "")" asp-area="" asp-page="/Equipo">Equipo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(option1IsActive ? "active" : "")" asp-area="" asp-page="/Operadores">Operadores</a>
                            </li>
                        }
                        else if(userType == "admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link @(option2IsActive ? "active" : "")" asp-area="" asp-page="/admOperadores-Operadores">Operadores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(option3IsActive ? "active" : "")" asp-area="" asp-page="/admOperadores-Instalaciones">Instalaciones</a>
                            </li>
                            <!--<li class="nav-item">
                                <a class="nav-link @(option1IsActive ? "active" : "")" asp-area="" asp-page="/Operadores">Actividades</a>
                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link @(option1IsActive ? "active" : "")" asp-area="" asp-page="/admOperadores-Equipo">Equipos</a>
                            </li>
                        }
                    </ul>
                </div>
                <button class="header-button" id="btnDecreaseFontSize"><img src="~/images/font-size-decrease-icon.png"/></button>
                <button class="header-button" id="btnIncreaseFontSize"><img src="~/images/font-size-increase-icon.png" /></button>
                <button class="header-button" id="btnHighContrastMode"><img src="~/images/eye-fill.svg" /></button>
                <div class="icon-Profile bg-footer text-center align-middle fs-3 text-white">
                    <i class="bi bi-person"></i>
                </div>

            </div>
        </nav>
    </header>
       
    <div class="page d-flex flex-row bg-grayContrast">
        <div class="content-page w-100">
            <main role="main" class="pb-3">

                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted ">
        <div class="container">
            OperadoresTEC@2023
        </div>  
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

  
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>