@page "/Operadores/Horarios-Operadores"
@model LayoutTemplateWebApp.Pages.PagesOperador.vtn_operador_horarios_operadoresModel
@{
}

<style>
    .center-main-button {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .main-info-container {
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .main-info-container::-webkit-scrollbar {
        display: none;
    }

    .grid-container {
        display: flex;
        border: 1px solid var(--color-font-sidebar);
    }

    .grid-container h3 {
        width: 50%;
     }

    .parallel-container-2 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const consultarHorarios = document.getElementById("btnConsultarHorariosOperadores");
        consultarHorarios.addEventListener("click", function () {
            window.location.assign("/Operadores/Horarios-Operadores");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const cerrar = document.getElementById("btnCerrar");
        cerrar.addEventListener("click", function () {
            window.location.assign("/Operadores/");
        })
    });
    
</script>

<div class="all-container">
    <div class="sidebar-container">
        <ul>
            <li id="btnConsultarHorariosOperadores">Consultar Horarios de Operadores</li>
        </ul>
    </div>
    <div class="xy-center">
        <div class="main-info-container">
            <button class="close-button" id="btnCerrar">X</button>
            <h1>Horarios de operadores</h1>
            <div class="parallel-container-2">
                <div class="small-input">
                    <h3>Aula</h3>
                    <select name="instalaciones" id="instalaciones">
                        <option value="B3">B3-1</option>
                        <option value="TM">TM</option>
                        <option value="B6-1">B6-1</option>
                        <option value="B6-2">B6-2</option>
                    </select>
                </div>
                <div class="small-input">
                    <h3>Fecha</h3>
                    <input type="date" />
                </div>

                <button class="main-button" style="margin-top: 26px">
                    Buscar
                </button>
            </div>
            <div>
                <div class="grid-container">
                    <h3>7:30-8:20 </h3>
                    <h3>@Model.data_mostrar.leccion1</h3>
                </div>
                <div class="grid-container">
                    <h3>8:30-9:20 </h3>
                    <h3>@Model.data_mostrar.leccion2</h3>
                </div>
                <div class="grid-container">
                    <h3>9:30-10:20 </h3>
                    <h3>@Model.data_mostrar.leccion3</h3>
                </div>
                <div class="grid-container">
                    <h3>10:30-11:20 </h3>
                    <h3>@Model.data_mostrar.leccion4</h3>
                </div>
                <div class="grid-container">
                    <h3>11:30-12:20 </h3>
                    <h3>@Model.data_mostrar.leccion5</h3>
                </div>
                <div class="grid-container">
                    <h3>1:00-2:00 </h3>
                    <h3>@Model.data_mostrar.leccion6</h3>
                </div>
                <div class="grid-container">
                    <h3>2:00-3:00 </h3>
                    <h3>@Model.data_mostrar.leccion7</h3>
                </div>
                <div class="grid-container">
                    <h3>3:00-4:00 </h3>
                    <h3>@Model.data_mostrar.leccion8</h3>
                </div>
                <div class="grid-container">
                    <h3>4:00-5:00 </h3>
                    <h3>@Model.data_mostrar.leccion9</h3>
                </div>
                <div class="grid-container">
                    <h3>5:00-6:00 </h3>
                    <h3>@Model.data_mostrar.leccion10</h3>
                </div>
                <div class="grid-container">
                    <h3>6:00-7:00 </h3>
                    <h3>@Model.data_mostrar.leccion11</h3>
                </div>
                <div class="grid-container">
                    <h3>7:00-8:00 </h3>
                    <h3>@Model.data_mostrar.leccion12</h3>
                </div>
                <div class="grid-container">
                    <h3>8:00-9:00 </h3>
                    <h3>@Model.data_mostrar.leccion13</h3>
                </div>
            </div>

        </div>
    </div>
</div>