@page "/AdminOperadores/Equipos/EquiposPrestados"
@model LayoutTemplateWebApp.Pages.PagesAdmOperador.vtn_adm_equipos_prestadosModel
@{
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnAgregarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/AgregarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnEliminarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/EliminarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnPrestarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/PrestarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnDevolverEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/DevolverEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnReportarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/ReportarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnEquiposPrestados");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/EquiposPrestados");
        });
    });
</script>
@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}
<div class="all-container">
    <div class="sidebar-container">
        <ul>
            <li id="btnAgregarEquipo">Agregar Equipo</li>
            <li id="btnEliminarEquipo">Eliminar Equipo</li>
            <li id="btnPrestarEquipo">Prestar Equipo</li>
            <li id="btnDevolverEquipo">Devolver Equipo</li>
            <li id="btnReportarEquipo">Reportar Equipo Dañado</li>
            <li id="btnEquiposPrestados">Equipos Prestados Actualmente</li>
        </ul>
    </div>
    <div class="xy-center">
        <div class="main-info-container">
            <h1>Listado de equipos prestados</h1>
            <div class="grid-container">
                <div class="grid-item">Id Equipo</div>
                <div class="grid-item">Nombre</div>
                <div class="grid-item">Descripcion</div>
                <div class="grid-item">Funciones</div>
            </div>
            <ul>
                @foreach (var prestado in Model.equiposPrestados)
                {
                    <li>
                        <div class="grid-container">
                            <div class="grid-item">@prestado.idEquipment</div>
                            <div class="grid-item">@prestado.name</div>
                            <div class="grid-item">@prestado.description</div>
                            <div class="grid-item" style="display:flex">
                                <form asp-page-handler="EliminarEquipo" method="post">
                                    <input type="hidden" name="idEquipment" value="@prestado.idEquipment" />
                                    <button class="main-button" id="btnEliminarOperador">Eliminar</button>
                                </form>
                                <form asp-page-handler="LiberarEquipo" method="post" style="margin-left:15px">
                                    <input type="hidden" name="idEquipment" value="@prestado.idEquipment" />
                                    <button class="main-button" id="btnActualizarOperador">Liberar</button>
                                </form>
                            </div>
                        </div>
                    </li>
                }
            </ul>

        </div>
    </div>
</div>

<style>
    .main-info-container {
        height: auto;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 160px 320px 220px 280px;*/
    }
    .grid-item{
        border: 1px solid var(--color-font-sidebar);
        padding: 10px;
        font-family: Roboto;
        font-size: var(--font-size-sidebar-li);
    }
    ul{
        list-style:none;
        padding-left: 0;
    }

    .main-button {
        min-width: 120px;
    }
</style>