@page "/AdminOperadores/Equipos/ListadoEquipo"
@model LayoutTemplateWebApp.Pages.PagesAdmOperador.vtn_adm_eliminar_equipoModel
@{
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function handleButtonClick(event) {
            // Check if the key pressed is the "Enter" key (key code 13)
            if (event.keyCode === 13) {
                event.target.click(); // Trigger the click event
            }
        }
        const agregarEquipo = document.getElementById("btnAgregarEquipo");
        agregarEquipo.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/AgregarEquipo")
        });
        agregarEquipo.addEventListener("keypress", handleButtonClick);

        const listadoEquipos = document.getElementById("btnEliminarEquipo");
        listadoEquipos.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/ListadoEquipo")
        });
        listadoEquipos.addEventListener("keypress", handleButtonClick);

        const reportarEquipo = document.getElementById("btnReportarEquipo");
        reportarEquipo.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/ReportarEquipo")
        });
        reportarEquipo.addEventListener("keypress", handleButtonClick);

        const cancelar = document.getElementById("btnCancelar");
        cancelar.addEventListener("click", function () {
            window.location.assign("/admOperadores-Equipo");
        });
        cancelar.addEventListener("keypress", handleButtonClick);
    });
</script>
@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}
<div class="all-container">
    <div class="sidebar-container">
        <ul>
            <li id="btnAgregarEquipo" tabindex="10">Agregar Equipo</li>
            <li id="btnEliminarEquipo" tabindex="11">Listado de Equipos</li>
            <li id="btnReportarEquipo" tabindex="12">Reportar Equipo Dañado</li>
        </ul>
    </div>
    <div class="xy-center">
        <div class="main-info-container">

            <h1 tabindex="13">Equipos</h1>

            <div class="grid-container">
                <div class="grid-item" tabindex="14">Id del equipo</div>
                <div class="grid-item" tabindex="15">Nombre del equipo</div>
                <div class="grid-item" tabindex="16">Descripción del equipo</div>
                <div class="grid-item" tabindex="17">Funcionalidades</div>
            </div>

            <ul>
                @foreach (var prestado in Model.equiposLibres)
                {
                    <li>
                        <div class="grid-container" tabindex="18" aria-label="Id del equipo @prestado.idEquipment @prestado.name @prestado.description">
                            <div class="grid-item">@prestado.idEquipment</div>
                            <div class="grid-item">@prestado.name</div>
                            <div class="grid-item">@prestado.description</div>
                            <div class="grid-item" style="display:flex">
                                <form asp-page-handler="EliminarEquipo" method="post">
                                    <input type="hidden" name="idEquipment" value="@prestado.idEquipment" />
                                    <button class="main-button" id="btnEliminarOperador" tabindex="18.1">Eliminar</button>
                                </form>
                                @if (prestado.availability == false)
                                {
                                    <form asp-page-handler="LiberarEquipo" method="post" style="margin-left:15px">
                                        <input type="hidden" name="idEquipment" value="@prestado.idEquipment" />
                                        <button class="main-button" id="btnActualizarOperador" tabindex="18.2">Liberar</button>
                                    </form>
                                }else{
                                    <form asp-page-handler="PrestarEquipo" method="post" style="margin-left:15px">
                                    <input type="hidden" name="idEquipment" value="@prestado.idEquipment" />
                                    <button class="main-button" id="btnActualizarOperador" tabindex="18.2">Prestar</button>
                                </form>
                                }
                                
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<style>
    .main-info-container {
        margin-top: 200px;
        height: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 160px 320px 220px 280px;
    }

    .grid-item {
        border: 1px solid var(--color-font-sidebar);
        padding: 10px;
        font-family: Roboto;
        font-size: var(--font-size-sidebar-li);
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .main-button {
        min-width: 120px;
    }
</style>