@page "/AdminOperadores/Equipos/EliminarEquipo"
@model LayoutTemplateWebApp.Pages.PagesAdmOperador.vtn_adm_eliminar_equipoModel
@{
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnAgregarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/AgregarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnEliminarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/EliminarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnPrestarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/PrestarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnDevolverEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/DevolverEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnReportarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/ReportarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnEquiposPrestados");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/EquiposPrestados");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const consultarHorarios = document.getElementById("btnCancelar");
        consultarHorarios.addEventListener("click", function () {
            window.location.assign("/admOperadores-Equipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnEliminar");
        agregarOperador.addEventListener("click", function () {
            alert("Eliminar");
        });
    });
</script>
@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}
<div class="all-container">
    <div class="sidebar-container">
        <ul>
            <li id="btnAgregarEquipo">Agregar Equipo</li>
            <li id="btnEliminarEquipo">Listado de Equipos</li>
            <!--<li id="btnPrestarEquipo">Prestar Equipo</li>-->
            <!--<li id="btnDevolverEquipo">Devolver Equipo</li>-->
            <li id="btnReportarEquipo">Reportar Equipo Dañado</li>
            <!--<li id="btnEquiposPrestados">Equipos Prestados Actualmente</li>-->
        </ul>
    </div>
    <div class="xy-center">
        <div class="main-info-container">

            <h1>Equipos</h1>

            <ul>
                @foreach (var prestado in Model.equiposLibres)
                {
                    <li>
                        <div class="grid-container">
                            <div class="grid-item">@prestado.idEquipment</div>
                            <div class="grid-item">@prestado.name</div>
                            <div class="grid-item">@prestado.description</div>
                            <div class="grid-item" style="display:flex">
                                <form asp-page-handler="EliminarEquipo" method="post">
                                    <input type="hidden" name="idEquipment" value="@prestado.idEquipment" />
                                    <button class="main-button" id="btnEliminarOperador">Eliminar</button>
                                </form>
                                @if (prestado.availability == false)
                                {
                                    <form asp-page-handler="LiberarEquipo" method="post" style="margin-left:15px">
                                        <input type="hidden" name="idEquipment" value="@prestado.idEquipment" />
                                        <button class="main-button" id="btnActualizarOperador">Liberar</button>
                                    </form>
                                }else{
                                    <form asp-page-handler="PrestarEquipo" method="post" style="margin-left:15px">
                                    <input type="hidden" name="idEquipment" value="@prestado.idEquipment" />
                                    <button class="main-button" id="btnActualizarOperador">Prestar</button>
                                </form>
                                }
                                
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<style>
    .main-info-container {
        height: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 160px 320px 220px 280px;
        */
    }

    .grid-item {
        border: 1px solid var(--color-font-sidebar);
        padding: 10px;
        font-family: Roboto;
        font-size: var(--font-size-sidebar-li);
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .main-button {
        min-width: 120px;
    }
</style>